body {
	background: #b4e391;
	background: -webkit-linear-gradient(-45deg, #b4e391 0%,#b4e391 40%,#61c419 63%,#b4e391 100%); /*Safari 5.1-6*/
	background: linear-gradient(180deg, #b4e391 0%,#b4e391 40%,#61c419 63%,#b4e391 100%); /*Standard*/
	font-family: 'Sigmar One', cursive;
}
#firstColumn {
		position: relative;
		-webkit-animation-name: firstColumn;
		-webkit-animation-duration: 4s;
		animation-name: firstColumn;
		animation-duration: 4s;
	}
@media (max-width: 991px){	
	@-webkit-keyframes firstColumn {
		0% {left: 0px; top: 0px;}
		50% {left: 0px; top: 500px;}
		100% {left: 0px; top: 0px;}
	}
	@keyframes firstColumn {
		0% {left: 0px; top: 0px;}
		50% {left: 0px; top: 500px;}
		100% {left: 0px; top: 0px;}
	}
	#secondColumn {
		position: relative;
		-webkit-animation-name: secondColumn;
		-webkit-animation-duration: 4s;
		animation-name: secondColumn;
		animation-duration: 4s;
	}
	@-webkit-keyframes secondColumn {
		0% {left: 0px; top: 0px;}
		50% {left: 0px; top: -500px;}
		100% {left: 0px; top: 0px;}
	}
	@keyframes secondColumn {
		0% {left: 0px; top: 0px;}
		50% {left: 0px; top: -500px;}
		100% {left: 0px; top: 0px;}
	}
}
@media (min-width: 992px) {
	@-webkit-keyframes firstColumn {
		0% {left: 0px; top: 0px;}
		50% {left: 600px; top: 0px;}
		100% {left: 0px; top: 0px;}
	}
	@keyframes firstColumn {
		0% {left: 0px; top: 0px;}
		50% {left: 600px; top: 0px;}
		100% {left: 0px; top: 0px;}
	}
	#secondColumn {
		position: relative;
		-webkit-animation-name: secondColumn;
		-webkit-animation-duration: 4s;
		animation-name: secondColumn;
		animation-duration: 4s;
	}
	@-webkit-keyframes secondColumn {
		0% {left: 0px; top: 0px;}
		50% {left: -600px; top: 0px;}
		100% {left: 0px; top: 0px;}
	}
	@keyframes secondColumn {
		0% {left: 0px; top: 0px;}
		50% {left: -600px; top: 0px;}
		100% {left: 0px; top: 0px;}
	}
}
p {
	font-size: 1.5rem;
}
/* HTML-CSS-JS Intereaction */
#appearSlow {
	/* IE9, Firefox, Chrome, Opera, and Safari */
	opacity: 0; 
	/* IE8 and earlier */
	filter:alpha(opacity=0);
}
#transitionRight {
	position: relative;
	right: 350px;
}
#transitionDown {
	position: relative;
	bottom: 62px;
}
.loser {
	position: relative;
	width: 100%;
	height: 90px;
}
.loser div {
	height: 100%;
	width: 20%;
}
#loser5, #loser4, #loser3, #loser2, #loser1 {
	top: 0px;
	background: #EC0B76;
	visibility: hidden;
	-webkit-animation: loser 5s infinite;
	animation: loser 5s infinite;
}
@-webkit-keyframes loser {
	50% {box-shadow: 10px 20px 30px #888888;}
}
@keyframes loser {
	50% {box-shadow: 10px 20px 30px #888888;}
}
/* Panels */
.panel-img-top {
  border-top-right-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
}
.panel-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}
.panel-title {
  margin-bottom: 0.75rem;
}
.panel-text:last-child {
  margin-bottom: 0;
}
/* Borders */
.border-dashed {
	border-style: dashed;
	border-width: .5rem;
}
.border-green {
	border-color: #83D35E;
}
/* Backgrounds */
.bg-topography {
	background-image: url("../images/topography.png");
}
.bg-game {
	background-image: url("../images/playstation-pattern.png")
}
/* Text */
.color-dkpink {
	color: #C13059;
}
/* Spacing */
.p-3 {
	padding: 0.75rem;
}
.mt-3 {
	margin-top: 0.75rem;
}
.my-0 {
	margin-top: 0;
	margin-bottom:0;
}
.m-0a {
	margin: 0 auto;
}
/* media Queries */
@media (max-width: 768px) {
	.loser {
		height: 45px;
	}
	.loser h2 {
		margin-top: 0;
		margin-bottom: 0;
		padding: 6px 0;
	}
}
.loser h2 {
	font-size: 40px;
}